project_id = "REPLACE_PROD_PROJECT_ID"
region = "asia-northeast3"
environment = "prod"
network_cidr = "10.30.0.0/20"

enable_gke = true
enable_cloud_sql = true
enable_composer = true
composer_image_version = "composer-3-airflow-2.11.1-build.11"
